@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

section#cabeca{
    background-image: linear-gradient( to bottom, black, gray);
    background-image: url('/imagens/digitandoMedio.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
div#instagram{
    background-image: url('/imagens/instagran.png');
    background-size: cover;
}
div#linkedin{
    background-image: url('/imagens/linkedin.png');
    background-size: cover;
}
div#github{
    background-image: url('/imagens/git.png');
    background-size: cover;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: aliceblue;
}

main{
    padding-top: 20px;
    padding-bottom: 20px;
}

div.quadrado{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: blanchedalmond;
}

h1{
    padding: 200px;
    padding-bottom: 10px;
}

h4{
    padding: 200px;
    padding-top: 10px;

}

a{
    text-decoration: none;
}

a:hover{
    background-color: aqua;
    text-decoration: underline;
}

footer{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(46, 39, 77), rgb(37, 29, 159), rgb(0, 0, 0) );
    color: aliceblue;
    padding: 1px;
    margin: 0px;
    text-align: center;
}